*.o
*.d
eval
cheat
anticheat
checkans
normalize

# baseline cheater
cheat-baseline1-spin-and-swap
cheat-baseline1-dead-code

*-submit.cpp

*.out
*.log
*.local

compile_commands.json
.cache
.vscode
.idea
